<div class="music-box">
    <div class="header">
        <i class="material-icons">
            equalizer
        </i>
        <div>Player de Música</div>
        <label for="">00/00</label>
    </div>
    <div class="body">
        <div class="controls">
            <div class="prev">
                <i class="material-icons">
                    skip_previous
                </i>
            </div>
            <div class="play_pause">
                <i class="material-icons">
                    play_arrow
                </i>
            </div>
            <div class="next">
                <i class="material-icons">
                    skip_next
                </i>
            </div>
        </div>
    </div>
    <div class="separate"></div>
    <div class="footer">
        <div class="title">
            <label for=""></label>
        </div>
        <audio autoplay src="audio/pirate_music.mp3"></audio>
        <div class="controls">
            <div class="current-duration">00:00</div>
            <div class="duration_seekbar"><input type="range" min="0" max="0"></div>
            <div class="total-duration">00:00</div>
            <div class="vol-mute">
                <i class="material-icons">
                    volume_up
                </i>
                <div class="vol-seekbar">
                    <input type="range" min="0" max="100">
                </div>
            </div>
        </div>
    </div>
</div>