<div class="on_board">
    <div class="float_btn">
        <div class="badge"></div>
        <i class="material-icons">
            group
        </i>
        <div class="online_count">0</div>
    </div>
    <div class="cancel_btn">
        <i class="material-icons close">
            cancel
        </i>
    </div>
    <div class="board">
        <div class="title">
            <div>Piratas Online</div>
        </div>
        <ul class="list">
        </ul>
    </div>
    <div class="chat">
        <div class="title">
            <div></div>
        </div>
        <ul class="list"></ul>
        <div class="footer">
            <input type="text">
            <a type="button" class="btn"><i class="material-icons">send</i></a>
        </div>
    </div>
</div>